*
{
    margin:0;
    padding:0;
}

body
{
    margin:20px;
    color:grey;
    font-family:helvetica;
    font-size:14px;
}

header
{
    position:relative;
}

header #pie
{
    position:absolute;
    right:0;
    top:42%;
}

header nav
{
    position:absolute;
    right:0;
    bottom:-9px;
    left:220px;
    text-align:right;
}

header nav ul
{
    border-top:0.15em dashed grey;
}

header nav ul li
{
    border-right:0.15em dashed grey;
    display:inline-block;
    margin:5px 0 0 0;
    padding:5px;    
}

header nav ul li a
{
    color: red;
    margin: 0 10px 0 10px;
    padding: 5px 8px;
    text-decoration: none;
}

header nav ul li a:hover
{
    color: white;
    background: red;
    border-radius: 5px;
}

h1
{
    display:none;
}


section
{
    margin:0 auto;
    width:80%;
} 

section article, section figure
{
    display:inline-block;
    margin:8% auto;
    vertical-align:middle;
}

section article
{
    text-align:justify;
    max-width:400px;
}

section figure
{

}

section figure img
{
    width:400px;
}

footer
{
    text-align: right;
}

footer #linea
{
    border-bottom: 0.15em dashed grey;
    width: 65%;
}

footer p, footer figure, footer a, footer #linea
{
    display:inline-block;
    vertical-align:baseline;
}

footer #D
{
    font-size: 0.8em;
}

footer figure .social
{
    width:25px;
}

footer span #w3c
{
    width:15px;
}   