*
{
    margin:0;
    padding:0;
}

a
{
    color:red;
    text-decoration:none;
}

body
{
    color:grey;
    font-family:helvetica;
    font-weight:normal;
    font-size:16px;
    margin:0 50px;

}

div
{
    float:right;
    margin-top:50px;
}

footer
{
    margin-top:50px;
    text-align:right;
}

footer figure, footer p
{
    display:inline-block;
    vertical-align:baseline;
}

footer #linea
{
    font-size:0.6rem;
    margin-right:5px;
    
}

footer figure
{
    margin:0 2px;
}

footer #D
{
    font-size:0.7rem;
}

header, div
{
    display:inline-block;
}

header #marca
{
    visibility:hidden;
}

header #marca, header #marca img
{
    width:100%;
}

h1
{
    display:none;
}

nav
{
    float:right;
    margin-top:-30px;
    width:78%;
}

nav ul
{
    border-top:1px dashed grey;
    list-style:none;
    text-align:right;
}

nav ul li
{
    border-right:1px dashed grey;
    display:inline-block;
    margin-left:10px;
    margin-top:5px;
}

nav ul li a
{
    margin:0 10px;
    padding:2px 9px;
}

section
{
    margin: auto;
}

section #informacion
{   
    text-align:justify;
    width:400px;
}

section #informacion, #foto
{
    display:inline-block;
    vertical-align:baseline;
}